#!/bin/sh

# export WINIT_X11_SCALE_FACTOR=1
export LIBVA_DRIVER_NAME=nvidia
export VDPAU_DRIVER=nvidia
export MOZ_DISABLE_RDD_SANDBOX=1
export MOZ_X11_EGL=1
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_STYLE_OVERRIDE="catppuccin-mocha-lavender-standard+default"
export GTK_THEME="catppuccin-mocha-lavender-standard+default"

~/.screenlayout/home.sh

