#include "/home/winter/.config/urxvt.Xresources"

! #define BACKGROUND #1F1616
! #define COLOR1     #907C72
! #define COLOR2     #8D7B7B
! #define COLOR3     #686277
! #define COLOR4     #C58365
! #define COLOR5     #786C79
! #define COLOR6     #896B59
! #define COLOR7     #CDB0A2


