/** Configured For Applets **/

@theme "~/.config/rofi/themes/custom.rasi"

configuration {
  show-icons : true;
  icon-theme : "Papirus";
  location   : 2;
  yoffset    : 300;
  xoffset    : 0;
  width      : 30;
  lines      : 10;
}
